@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgba(0, 0, 0, 0.89);
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
}
h3 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 600px;
    height: 600px;
    background-color: black;
}

.grid div {
    width: 40px;
    height: 40px;
}

.shooter {
    width: 40px;
    height: 40px;
    background: red linear-gradient(red, gray);
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.invader {
    background: radial-gradient(circle, gray 0%, purple 50%, black 100%);
    border-radius: 20px;
}

.boom {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 48%, rgba(0,0,0,1) 100%);
}

.laser {
    background: linear-gradient(90deg, black 0%, black 25%,yellow 40%, white 50%, yellow 60%, black 75%,black 100%);
}